.lista_treinadores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
}
.card_itens{
    
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: auto;
    align-items: center;
}
.card_itens img{
    height: 200px;
}

/* Cartas de Pokemons  ======================================= */
.pokemons_treinadores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

/* cada carta */
.cada_carta{
    margin: 10px auto;
}
.img_text_pok{
    border: nome;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px 1px white;
    transition: 1s;
}
.img_text_pok:hover{
    box-shadow: 10px black;
}
.img_text_pok div > div {
    display: flex;
    flex-direction: row;
}
.img_text_pok div > p {
    margin : 0px;
    width: 20%;
}
.img_text_pok div > div p{
    margin : 0px;
    width: 20%;
}
.pokemons ul {
    list-style-type: none;
}


div > button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(109, 184, 33);
    color: white;
    border-style: solid 1px;
    border-color: white;
    cursor: pointer;
    transition: 0.5s;
}
div > button:hover{
    background-color: rgb(81, 161, 1);
}
progress {
    border: none;
    width: 120px;
    background: white;
}
progress.atack::-webkit-progress-value {
    background: rgb(194, 47, 47);
}
progress.defence::-webkit-progress-value {
    background: rgb(26, 166, 221);
}
progress.life::-webkit-progress-value {
    background: rgb(15, 240, 53);
}
img{
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
}


.nome_treinador{
    font-size: 50px;
    color: white;
}

/* Tipos de Pokemons */

.grass{
    background: radial-gradient(circle at bottom, rgb(26, 145, 22) 30%, rgba(75,255,62,1) 30%, rgba(75,255,62,1) 40%, rgba(107,255,93,1) 40%, rgba(107,255,93,1) 46%, rgba(203,255,203,1) 46%, rgba(203,255,203,1) 55%, rgba(255,255,255,1) 55%);
} 

.fire{
    background: radial-gradient(circle at bottom, rgba(200,42,42,1) 30%, rgba(228,51,51,1) 30%, rgba(228,51,51,1) 40%, rgba(255,107,107,1) 40%, rgba(255,107,107,1) 46%, rgba(255,203,203,1) 46%, rgba(255,203,203,1) 55%, rgba(255,255,255,1) 55%);
}

.water{
    background: radial-gradient(circle at bottom, rgba(10,0,255,1) 30%, rgba(54,68,255,1) 30%, rgba(54,68,255,1) 40%, rgba(84,110,255,1) 40%, rgba(84,110,255,1) 46%, rgba(118,128,255,1) 46%, rgba(118,128,255,1) 55%, rgba(255,255,255,1) 55%);
}	

.bug{
    background: radial-gradient(circle at bottom, rgba(32,170,27,1) 30%, rgba(58,230,18,1) 30%, rgba(58,230,18,1) 40%, rgba(152,245,137,1) 40%, rgba(152,245,137,1) 46%, rgba(188,247,162,1) 46%, rgba(188,247,162,1) 55%, rgba(255,255,255,1) 55%);
}

.normal{
    background: radial-gradient(circle at bottom, rgba(153,82,149,1) 30%, rgba(167,106,164,1) 30%, rgba(167,106,164,1) 40%, rgba(238,73,238,1) 40%, rgba(238,73,238,1) 46%, rgba(255,142,255,1) 46%, rgba(255,142,255,1) 55%, rgba(255,255,255,1) 55%);
}

.poison{
    background: radial-gradient(circle at bottom, rgba(123,56,185,1) 30%, rgba(173,23,173,1) 30%, rgba(173,23,173,1) 40%, rgba(205,60,205,1) 40%, rgba(205,60,205,1) 46%, rgba(238,110,238,1) 46%, rgba(238,110,238,1) 55%, rgba(255,255,255,1) 55%);
}

.electric{
    background: radial-gradient(circle at bottom, rgba(166,170,27,1) 30%, rgba(218,230,18,1) 30%, rgba(218,230,18,1) 40%, rgba(241,245,137,1) 40%, rgba(241,245,137,1) 46%, rgba(247,249,179,1) 46%, rgba(247,249,179,1) 55%, rgba(255,255,255,1) 55%);
}

.ground{
    background: radial-gradient(circle at bottom, rgba(171,115,35,1) 30%, rgba(139,128,113,1) 30%, rgba(139,128,113,1) 40%, rgba(159,150,138,1) 40%, rgba(159,150,138,1) 46%, rgba(199,182,160,1) 46%, rgba(199,182,160,1) 55%, rgba(255,255,255,1) 55%);
}

.fighting{
    background: radial-gradient(circle at bottom, rgba(200,119,42,1) 30%, rgba(228,134,51,1) 30%, rgba(228,134,51,1) 40%, rgba(255,189,107,1) 40%, rgba(255,189,107,1) 46%, rgba(255,226,203,1) 46%, rgba(255,226,203,1) 55%, rgba(255,255,255,1) 55%);
}

.psychic{
    background: radial-gradient(circle at bottom, rgba(200,42,117,1) 30%, rgba(228,51,167,1) 30%, rgba(228,51,167,1) 40%, rgba(255,107,184,1) 40%, rgba(255,107,184,1) 46%, rgba(255,203,233,1) 46%, rgba(255,203,233,1) 55%, rgba(255,255,255,1) 55%);
}

.rock{
    background: radial-gradient(circle at bottom, rgba(172,101,0,1) 30%, rgba(181,115,21,1) 30%, rgba(181,115,21,1) 40%, rgba(200,143,61,1) 40%, rgba(200,143,61,1) 46%, rgba(210,168,108,1) 46%, rgba(210,168,108,1) 55%, rgba(255,255,255,1) 55%);
}

.flying{
    background: radial-gradient(circle at bottom, rgba(149,149,149,1) 30%, rgba(140,162,161,1) 30%, rgba(140,162,161,1) 40%, rgba(124,204,198,1) 40%, rgba(124,204,198,1) 46%, rgba(203,255,248,1) 46%, rgba(203,255,248,1) 55%, rgba(255,255,255,1) 55%);
}

.ghost{
    background: radial-gradient(circle at bottom, rgba(63,61,113,1) 30%, rgba(146,140,162,1) 30%, rgba(146,140,162,1) 40%, rgba(168,139,214,1) 40%, rgba(168,139,214,1) 46%, rgba(226,203,255,1) 46%, rgba(232,203,255,1) 55%, rgba(255,255,255,1) 55%);
}

.ice{
    background: radial-gradient(circle at bottom, rgba(84,237,255,1) 30%, rgba(110,239,254,1) 30%, rgba(110,239,254,1) 40%, rgba(149,244,255,1) 40%, rgba(149,244,255,1) 46%, rgba(182,247,255,1) 46%, rgba(182,247,255,1) 55%, rgba(255,255,255,1) 55%);
}

.dragon{
   
}

.steel{
    background: radial-gradient(circle at bottom, rgba(122,148,146,1) 30%, rgba(54,183,255,1) 30%, rgba(54,183,255,1) 40%, rgba(84,237,255,1) 40%, rgba(84,237,255,1) 46%, rgba(139,254,255,1) 46%, rgba(139,254,255,1) 55%, rgba(255,255,255,1) 55%);
}

.dark{
    background: radial-gradient(circle at bottom, rgb(43, 43, 43) 30%, rgba(66,66,66,1) 30%, rgba(66,66,66,1) 40%, rgba(117,117,117,1) 40%, rgba(117,117,117,1) 46%, rgba(205,205,205,1) 46%, rgba(205,205,205,1) 55%, rgba(255,255,255,1) 55%);
}

.fairy{
    background: radial-gradient(circle at bottom, rgba(200,42,85,1) 30%, rgba(228,51,105,1) 30%, rgba(228,51,105,1) 40%, rgba(255,107,132,1) 40%, rgba(255,107,132,1) 46%, rgba(255,203,221,1) 46%, rgba(255,203,221,1) 55%, rgba(255,255,255,1) 55%);
}